extends layout 

block content 


    
    h3(style="font-family: 'Amatic SC', cursive;") Dashboard
        .list-group Clients 
            each c in clients 
                a.list-group-item(style="font-family: 'Fira Sans', sans-serif, font-weight: light;" href=`client/${c._id}` class="collection-item")
                    p(style="font-family: 'Open Sans', sans-serif;")= c.fname + ' ' + c.lname


    

    h3(style="font-family: 'Amatic SC', cursive;") Add a client:    
        div(class='container-sm')
            form(action='dashboard/newclient' method='post' style="font-family: 'Encode Sans', monospace;")
                div(class="mb-3") 
                    label First Name 
                    input(type="text", name="fname" class="form-control")
                div(class="mb-3") 
                    label Last Name 
                    input(type="text", name="lname" class="form-control")
                div(class="mb-3") 
                    label Phone Number 
                    input(type="tel", name="phonenumber" class="form-control")
                div(class="mb-3") 
                    label Email Address 
                    input(type="email", name="email" class="form-control")
                div(class="mb-3") 
                    input(type="submit", value="Add" class="btn btn-secondary center")

            