extends layout 

block content 


    h1 Clients
    
    .container(style="padding-top: 20px; padding-bottom: 20px; min-height: 30vh;")
        if (clients.length == 0)
            h3 No clients
        else     
            table.table.table-hover.align-middle#clientList
                thead  
                    tbody    
                        each c in clients 
                            tr.client-row(scope="row" data-href=`/client/${c._id}` class="collection-item")
                                td= c.fname + ' ' + c.lname 
                                td #{'$' + parseFloat(c.balance.toString()).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}        
        .container.d-inline-flex.justify-content-center.gap-5(style="justify-content: space-around !important; padding: 1rem;")#eventFloat 
            button.btn.btn-lg.btn-floating.shadow-2-strong#addEvent(style="background-color: #03b126 !important; display: flex; justify-content: center;" type='button', data-mdb-toggle="modal" data-mdb-target="#addClientModal")
                i.fas.fa-plus.fa-2x(style="color: white;")


    .modal.fade#addClientModal(tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")    
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title Add Client
                    button.btn-close(type="button" data-mdb-dismiss="modal" aria-label="Close")
                .modal-body  
                    form#addClientForm(action='dashboard/newclient' method='post')
                        .form-outline.mb-3 
                            input(type="text", name="fname" class="form-control")
                            label.form-label First Name
                        .form-outline.mb-3
                            input(type="text", name="lname" class="form-control")
                            label.form-label Last Name 
                        .form-outline.mb-3 
                            input(type="tel", name="phonenumber" class="form-control")
                            label.form-label Phone Number
                        .form-outline.mb-3 
                            input(type="email", name="email" class="form-control")
                            label.form-label Email Address
                        .modal-footer   
                            button.btn.btn-primary(type="submit") Save 
                            button.btn.btn-danger(data-mdb-dismiss="modal") Cancel

            