extends layout 

block content 


    h3 Clients
    
    .container(style="padding-top: 20px; padding-bottom: 20px; min-height: 50vh;")
        table.table.table-hover.align-middle#clientList
            thead  
                tbody    
                    each c in clients 
                        tr.client-row(style="font-family: 'Fira Sans', sans-serif, font-weight: light;" scope="row" data-href=`client/${c._id}` class="collection-item")
                            td(style="font-family: 'Open Sans', sans-serif;")= c.fname + ' ' + c.lname 
                            td #{'$' + c.balance.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}        
    .container.d-inline-flex.justify-content-center.gap-5.fixed-bottom#addClientCont
        button.btn.shadow-1-strong(style="color: #0d6efd; width: 50%; display: flex; justify-content: center;" type="button" data-mdb-toggle="modal" data-mdb-target="#addClientModal") New Client

    

    .modal.fade#addClientModal(tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")    
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title Add Client
                    button.btn-close(type="button" data-mdb-dismiss="modal" aria-label="Close")
                .modal-body  
                    form#addClientForm(action='dashboard/newclient' method='post')
                        .form-outline.mb-3 
                            input(type="text", name="fname" class="form-control")
                            label.form-label First Name
                        .form-outline.mb-3
                            input(type="text", name="lname" class="form-control")
                            label.form-label Last Name 
                        .form-outline.mb-3 
                            input(type="tel", name="phonenumber" class="form-control")
                            label.form-label Phone Number
                        .form-outline.mb-3 
                            input(type="email", name="email" class="form-control")
                            label.form-label Email Address
                        .modal-footer   
                            button.btn.btn-primary(type="submit") Save 
                            button.btn.btn-danger(data-mdb-dismiss="modal") Cancel

            