extends layout

block content
  
  .container.valign-wrapper
      p(style="font-family: 'Indie Flower', cursive; font-size: 4rem; margin: auto;") $ made ez
  
  

  if (loggedIn)
    .container.center-align
      p(style="font-family: 'Amatic SC', cursive; font-size: 3rem; margin: auto;") Your are currently logged in
  else 
    .container.center-align
      p(style="font-family: 'Amatic SC', cursive; font-size: 2rem; margin: auto;") Login or sign up to get started