doctype html
html
  head
    title= "EZ Billing"
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Encode+Sans&family=Source+Code+Pro:ital,wght@1,900&display=swap')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat&family=Fira+Sans&family=Indie+Flower&family=Open+Sans:wght@300&family=PT+Sans&family=PT+Sans+Narrow&family=Permanent+Marker&family=Slabo+27px&display=swap")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name='viewport' content='width=device-width', initial-scale=1)
    main
      nav
        .nav-wrapper 
          a.brand-logo.left(href='/' style="font-family: 'Indie Flower', cursive;") EZ
            ul.right
              if (!loggedIn)
                li 
                  a(href='/user/register') Register 
                li 
                  a(href='/user/login') Log In
              else
                li 
                  a(href='/user/dashboard') Dashboard 
                li 
                  a(href='/user/logout') Log Out
        
    .container    
      block content

    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')


  footer.page-footer.footer-fixed
    .container
      .row
        .col.l6.s12
          h5.white-text 
          p.grey-text.text-lighten-4
        .col.l4.offset-l2.s12
          h5.white-text 
          ul
            li
              a.grey-text.text-lighten-3(href='#!')
            li
              a.grey-text.text-lighten-3(href='#!')
    .footer-copyright
      .container
        | © EZ
        a.grey-text.text-lighten-4.right(href='#') GitHub

