doctype html
html
  head
    title= "EZ Billing"
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Encode+Sans&family=Source+Code+Pro:ital,wght@1,900&display=swap')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat&family=Fira+Sans&family=Indie+Flower&family=Open+Sans:wght@300&family=PT+Sans&family=PT+Sans+Narrow&family=Permanent+Marker&family=Slabo+27px&display=swap")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css")
    link(rel="stylesheet" href="/stylesheets/style.css")
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name='viewport' content='width=device-width', initial-scale=1)
    body.d-flex.flex-column

      nav.navbar.navbar-expand-lg.navbar-light.shadow-1
          .container-fluid.text-white 
            if (!loggedIn)
              a.navbar-brand(href='/user/login' style="font-family: 'Indie Flower', cursive; font-size: 2rem; color: blue !important;") 
                i.material-icons menu 
              a.nav-link(href='#')
              a.nav-link(href='/user/login') Login
            else
              a.navbar-brand(href='/user/dashboard' style="font-family: 'Indie Flower', cursive; font-size: 2rem; color: blue !important;") 
                i.material-icons home
              a.nav-link(href='/user/logout')  Log Out
      
      main  
        block content

      script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
      script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM", crossorigin='anonymous')
      script(src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js")
      
      script(src='/scripts/script.js')


