doctype html
html
  head
    title= "EZ Billing"
    meta(name='viewport', content='width=device-width', initial-scale=1)
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Encode+Sans&family=Source+Code+Pro:ital,wght@1,900&display=swap')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap")
  body(style="font-family: 'Source Code Pro', monospace;")
    .navbar.navbar-default.navbar-fixed-top
      .container-fluid 
        a.brand(href="/") Home
        ul.nav 
        if (!loggedIn)
          li 
            a(href='/user/register') Register 
          li 
            a(href='/user/login') Log In 
        else 
          li 
            a(href='/user/logout' method="post") Log Out
      .container-fluid


block content