extends layout 

block content 

    img(src="/images/money_tree.svg", alt="", srcset="")
    .container-xxl#loginCont(style="align-content: center;")
        form(action='' method='post')

            .form-outline.mb-5
                input.form-control(type="text", name="username" requried)
                label.form-label Username
            .form-outline.mb-5
                input.form-control(type="password", name="password" required)
                label.form-label Password 
            .form-outline.mb-5.d-inline-flex.justify-content-center.gap-5
                input(type="submit", value="Log In" class="btn btn-primary center")
                button.btn.btn-secondary.center#registerBtn(data-href="/user/register" class="btn btn-secondary center") Register