extends layout 

block content 
    h2(style="font-family: 'Source Code Pro', monospace, heavy;") Log In 


        if message != ''
            .alert.alert-error #{message}
        div(class="container-sm")
            form(action='login' method='post' style="font-family: 'Encode Sans', monospace;")
                div(class="mb-3") 
                    label Username 
                    input(type="text", name="username" class="form-control")
                div(class="mb-3") 
                    label Password 
                    input(type="password", name="password" class="form-control")

                div(class="mb-3") 
                    input(type="submit", value="Log In" class="btn btn-secondary center")