extends layout 

block content 

    
    .container-xxl.d-flex-column.justify-content-center#loginCont(style="align-content: center;")
        h1.willowCursive(style="font-size: 4rem;") Willow
        form(action='' method='post')   
            .form-outline.mb-5
                input.form-control(type="text", name="username" requried)
                label.form-label Username
            .form-outline.mb-5
                input.form-control(type="password", name="password" required)
                label.form-label Password 
            if (messages.length > 0)  
                .alert.alert-danger.d-fle #{messages[0]}
                
            .form-outline.mb-5.d-inline-flex.justify-content-center.gap-5
                input(type="submit", value="Log In" class="btn btn-primary center")
                a.btn.btn-secondary.center#registerBtn(href="/user/register" class="btn btn-secondary center") Register