extends layout 


block content 

    .container-xxl#loginCont(style="align-content: center;")
        form(action="register/newuser", method="post" style="font-family: 'Encode Sans', monospace;")
            .form-outline.mb-5 
                input.form-control(type="text", name="fname")
                label.form-label First Name 
            .form-outline.mb-5 
                input.form-control(type="text", name="lname")
                label.form-label Last Name 
            .form-outline.mb-5  
                input.form-control(type="text", name="username")
                label.form-label Username
            .form-outline.mb-5   
                input.form-control(type="text", name="email")
                label.form-label Email

            .form-outline.mb-5   
                input.form-control(type="password", name="password")
                label.form-label Password

            .form-outline.mb-5  
                input(type="submit", value="Register" class="btn btn-secondary center")

    