* {
  margin: 0;
  padding: 0;
  border: 0;
}

@page {
  size: A4;
  margin: .5in;
}

table {
  margin-top: 3rem;
}

thead {
  font-size: 1.25em;
  border-bottom: 3px solid;
}

p {
  padding: 0;
  margin: 0;
  white-space: normal;
}

td {
  font-size: 1.25em;
}

#heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#date-section {
  margin-bottom: 2rem;
}

#notes-field {
  width: 350px;
  white-space: initial;
}

#info-section {
  width: 100%;
  justify-content: space-between;
}

#info-spacer {
  width: 50px;
}

.provider-info-section,
.client-info-section {
  width: 600px;
  white-space: nowrap;
}

.client-info-section {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
}

.payment-details-section {
  inline-size: 220px;
}

.bullet {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  margin: -8px -18px 0px 2px;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.text-align-start {
  text-align: start;
}

.row {
  margin: 0;
}

.spacer {
  width: 10px;
}
